**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.DS_Store
lambda.zip
.terraform.lock.hcl
primary-infrastructure/**.terraform/*
primary-infrastructure/*.tfstate
primary-infrastructure/*.tfstate.*
primary-infrastructure/crash.log
primary-infrastructure/crash.*.log
primary-infrastructure/*.tfvars
primary-infrastructure/*.tfvars.json
primary-infrastructure/override.tf
primary-infrastructure/override.tf.json
primary-infrastructure/*_override.tf
primary-infrastructure/*_override.tf.json
primary-infrastructure/.terraformrc
primary-infrastructure/terraform.rc
primary-infrastructure/.DS_Store
primary-infrastructure/terraform.lock.hcl
recovery-infrastructure/sas_token
recovery-infrastructure/ansible/.DS_Store
recovery-infrastructure/ansible/.DS_Store
recovery-infrastructure/**.terraform/*
recovery-infrastructure/*.tfstate
recovery-infrastructure/*.tfstate.*
recovery-infrastructure/crash.log
recovery-infrastructure/crash.*.log
recovery-infrastructure/*.tfvars
recovery-infrastructure/*.tfvars.json
recovery-infrastructure/override.tf
recovery-infrastructure/override.tf.json
recovery-infrastructure/*_override.tf
recovery-infrastructure/*_override.tf.json
recovery-infrastructure/.terraformrc
recovery-infrastructure/terraform.rc
recovery-infrastructure/.DS_Store
recovery-infrastructure/sas_token
recovery-infrastructure/terraform.lock.hcl