**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.DS_Store
lambda.zip
main_infrastructure/**.terraform/*
main_infrastructure/*.tfstate
main_infrastructure/*.tfstate.*
main_infrastructure/crash.log
main_infrastructure/crash.*.log
main_infrastructure/*.tfvars
main_infrastructure/*.tfvars.json
main_infrastructure/override.tf
main_infrastructure/override.tf.json
main_infrastructure/*_override.tf
main_infrastructure/*_override.tf.json
main_infrastructure/.terraformrc
main_infrastructure/terraform.rc
main_infrastructure/.DS_Store
recovery_infrastructure/sas_token
recovery_infrastructure/ansible/.DS_Store
recovery_infrastructure/ansible/.DS_Store
recovery_infrastructure/**.terraform/*
recovery_infrastructure/*.tfstate
recovery_infrastructure/*.tfstate.*
recovery_infrastructure/crash.log
recovery_infrastructure/crash.*.log
recovery_infrastructure/*.tfvars
recovery_infrastructure/*.tfvars.json
recovery_infrastructure/override.tf
recovery_infrastructure/override.tf.json
recovery_infrastructure/*_override.tf
recovery_infrastructure/*_override.tf.json
recovery_infrastructure/.terraformrc
recovery_infrastructure/terraform.rc
recovery_infrastructure/.DS_Store
recovery_infrastructure/sas_token
recovery_infrastructure/*.terraform.lock.hcl