aws-access-key                    = "value"
aws-secret-key                    = "value"
aws-region-main                   = "value"
cloudflare-api-token-value        = "value"
cloudflare-zone-id                = "value"
rds_prod_db_password              = "value"
rds_prod_db_username              = "value"
database_name                     = "value"
certbot-ssl-email                 = "value"
git_repo_application_branch       = "value"
github_token                      = "value"
domain_name                       = "value"
git_repo_https_url                = "value"
azure_db_password                 = "value"
azure_db_username                 = "value"
backup_storage_account_name       = "value"
backup_container_name             = "value"