server {
    listen 80;
    server_name {{ domain_name }};
    server_tokens off;
    location / {
        proxy_pass http://localhost:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}



application failure, communication failure, power outage, natural disaster, malware or other cyber attack, Data center disaster, building disaster, campus disaster, citywide disaster, regional disaster, national disaster, multinational disaster


https://github.com/bhupesh0339/Backup-and-Restore-Disaster-Recovery-Implementation-on-Hybrid-Cloud.git